<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/loginPage.css">
</head>

<body>
    <div class="container col-md-4 col-md-offset-4 " id="logo">
        <img src="images/mtel-logo-wide.svg" class="img-rounded mtel-logo center-block">
    </div>
    <div class="container col-md-4 col-md-offset-4" id="forma">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="" class="form-control" id="username" placeholder="Your username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="" class="form-control" id="password" placeholder="Your email address" />
        </div>

        <button class="btn btn-block btn-danger btn-md" id="loginButton">Login</button>


</body>


</html>